body{
    
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(mujer.jpg);
}
.calculator {
    width: 250px;
    margin: 100px auto;
    border: 1px solid #6e6c6c;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #b5b1b1;
}

#display {
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}